/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Definição das variáveis de cores */
:root {
  --cor-primaria: #1dc4bb; /* Cor primária */
  --cor-secundaria: #276e2d; /* Cor secundária */
  --cor-destaque: #cbf1cb; /* Cor de destaque */
  --cor-planoDeFundo: #8FBC8F; /* Cor plano de fundo section */
}

/* Estilo do cabeçalho */
header {
  background-color: var(--cor-destaque) ;
  color: var(--cor-secundaria);
  padding: 20px;
  text-align: center;
}

.logo {
  width: 200px;
  height: auto;
  margin-bottom: 20px;

}

/* Estilo da navegação */
nav {
  background-color: var(--cor-secundaria);
  padding: 10px;
  text-align: center; /* Alinha os links ao centro */
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin: 0 10px; /* Adiciona margem horizontal entre os links */
}


/* Estilo do conteúdo */
section {
  padding: 20px;
  background-color: var(--cor-planoDeFundo);
}

.primeiroParagrafo {
  display: flex; /* Torna a div um flex container */
  align-items: center; /* Alinha os itens verticalmente */
  padding: 20px;
  margin-bottom: 20px; /* Aumenta a distância entre a classe1 e a próxima classe */
}

.primeiroParagrafo img {
  flex-shrink: 0; /* Evita que a imagem diminua para caber no contêiner */
  margin-right: 100px; /* Adiciona margem à direita da imagem para separá-la do texto */
  border-radius: 10px;
}

.primeiroParagrafo p {
  font-size: 20px; /* Ajuste o tamanho do texto conforme necessário */
  border: 1px solid #ccc; /* Adiciona uma borda sólida de 1px com cor cinza */
  padding: 10px; /* Adiciona um preenchimento interno de 10px para separar o texto da borda */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra com deslocamento de 2px na horizontal, 2px na vertical, desfoque de 5px e cor preta com transparência de 0.1 */
  background-color: #f3ebeb;
  border-radius: 10px;
}

.segundoParagrafo {
  text-align: center;
  margin-bottom: 20px; /* Aumenta a distância entre a classe1 e a próxima classe */
  font-size: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f3ebeb;
  border-radius: 10px;
}

.terceiroParagrafo {
  text-align: center;
  font-size: 20px;
  background-color: var(--cor-destaque);
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.terceiroParagrafo img {
  width: 800px; /* Define a largura da imagem como 200 pixels */
  height: auto; /* Mantém a proporção da imagem ao ajustar a largura */
  border-radius: 10px;
  margin-bottom: 20px;
}


.cards {
  background-color: var(--cor-destaque);
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

.cards-content {
  flex: 1;
  padding: 20px;
}

.cards-content1, .cards-text1 {
  flex: 1;
  padding: 20px;
  text-align: center;

}

.cards-text {
  margin-bottom: 10px;
}

/* links */
.links {
  font-size: 20px;
  background-color: var(--cor-secundaria);
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  color: white;
  padding: 10px;
}

a {
  text-decoration: none;
  color: white;
  padding: 10px;
}


/* Estilo do rodapé */
footer {
  background-color: var(--cor-secundaria);
  color: white;
  text-align: center;
  padding: 10px;
}
