/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

/* Definição das variáveis de cores */
:root {
  --cor-primaria: #1dc4bb;
  /* Cor primária */
  --cor-secundaria: #276e2d;
  /* Cor secundária */
  --cor-destaque: #cbf1cb;
  /* Cor de destaque */
  --cor-planoDeFundo: #8FBC8F;
  /* Cor plano de fundo section */
}

/* Estilo do cabeçalho */
header {
  background-color: var(--cor-destaque);
  color: var(--cor-secundaria);
  padding: 20px;
  text-align: center;
}

.logo {
  width: 200px;
  height: auto;
  margin-bottom: 20px;

}

/* Estilo da navegação */
nav {
  display: flex;
  /* Ativa layout flexbox */
  justify-content: space-between;
  /* Distribui espaço entre links e formulário */
  align-items: center;
  /* Alinha verticalmente no centro */
  margin: 0 auto;
  /* Centraliza horizontalmente */
  width: 40%;
  /* Define largura máxima (ajuste conforme necessário) */
  padding: 10px;
  /* Adiciona padding para espaçamento interno */
  border-radius: 5px;
  /* Arredonda os cantos */
}

#linkmenu a {
  margin: 0 15px;
  /* Espaçamento entre links */
  text-decoration: none;
  /* Remove sublinhado */
  color: #333;
  /* Cor dos links */
  font-weight: bold;
  /* Texto em negrito */
}

#linkmenu a:hover {
  color: var(--cor-primaria);
  /* Cor dos links ao passar o mouse */
}

.form-inline {
  display: flex;
  /* Ativa layout flexbox */
  padding-top: 20px;
}

.form-control {
  flex-grow: 1;
  /* Permite que o input ocupe o espaço disponível */
  margin-right: 10px;
  /* Espaço à direita do input */
}

/* Estilo do conteúdo */
section {
  background-color: var(--cor-planoDeFundo);
  text-align: center;
  text-decoration: none;
  padding: 400px;
  padding-top: 100px;
  padding-bottom: 20px;
}

.primeira {
  text-align: left;
  font-size: 20px;
  background-color: var(--cor-destaque);
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}

.h1 {
  text-align: center;
}

#img-1 {
  width: 40%;
  flex-shrink: 0;
  /* Evita que a imagem diminua para caber no contêiner */
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#img-2 {
  flex-shrink: 0;
  /* Evita que a imagem diminua para caber no contêiner */
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

ul {
  list-style-position: inside;
  text-align: left;

}

.ul_dados li {
  padding: 10px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ddd;
}

.ul_dados li:hover {
  background-color: var(--cor-planoDeFundo);
  /* Mudança de cor quando o mouse passa por cima */
}

/* Estilo do rodapé */
.rodapé {
  display: flex;
  /* Ativa o layout flexbox */
  flex-direction: row;
  /* Organiza os elementos na horizontal */
  align-items: flex-start;
  /* Alinha os itens no topo */
  gap: 20px;
  /* Espaçamento entre os elementos */
  padding: 5px;
}

.container {
  flex: 1;
  display: grid;
  grid-template-columns: auto 1fr;
  /* O formulário ocupará a largura necessária e o resto será preenchido pelo conteúdo à direita */
  gap: 20px;
  /* Espaçamento entre as colunas */
  padding: 5px;
  margin: auto;
  max-width: 80%;
}

.forms-rodape {
  margin: 0;
  /* Remover margem padrão do formulário */
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 20px;
}


.redes-sociais {
  flex: 1;
  text-align: right;
  /* Alinhar os links das redes sociais à direita */
  padding: 100px;
}

.redes-sociais a {
  color: #fff;
  /* Cor do texto */
  text-decoration: none;
  /* Remover sublinhado */
  margin-right: 20px;
  /* Espaçamento entre os links */
}

#rede {
  color: white;

}

.redes-sociais a i {
  margin-right: 30px;
  /* Espaçamento entre o ícone e o texto */
  font-size: 24px;
}

footer {
  background-color: var(--cor-secundaria);
  /* Cor de fundo do rodapé */
  padding: 20px;
  /* Espaçamento interno do rodapé */
}

.pForms {
  margin: 0;
  /* Remover margem padrão do parágrafo */
  color: white;
  text-align: right;
  /* Alinhar o parágrafo à direita */
  padding: 100px;
}